.link:focus   {
    outline: 0;
    box-shadow:none;
}

.sidebar-open{
    width:180px;
    -webkit-transition: width 1.5s ease-out;
    -moz-transition: width 1.5s ease-out;
    -o-transition: width 1.5s ease-out;
    transition: width 1.5s ease-out;
}

.sidebar-closed{
    width:65px;
    -webkit-transition: width 1.5s ease-in;
    -moz-transition: width 1.5s ease-in;
    -o-transition: width 1.5s ease-in;
    transition: width 1.5s ease-in;
}

.sidebar-footer-hide {
    -webkit-transition: opacity .5s ease-in;
    -moz-transition: opacity .5s ease-in;
    -o-transition: opacity .5s ease-in;
    transition: opacity .5s ease-in;
}

.sidebar-footer-show {
    -webkit-transition: opacity 1.5s ease-in;
    -moz-transition: opacity 1.5s ease-in;
    -o-transition: opacity 1.5s ease-in;
    transition: opacity 1.5s ease-in;
}

.sidebar-button-inner {
    width: 30px;
    height: 4px;
}

.sidebar {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    height: 100%;
    min-width: 65px;
    max-width: 200px;
}

